<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/jquery-nice-select/nice-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/switchery/switchery.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/multiselect/multi-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/select2/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-select/bootstrap-select.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<div class="wrapper">
            <div class="container">


                

                <!-- start page title -->
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="page-title-box">
                            <h3 class="page-title mb-0">Gifted</h3>
                            <p class="mb-4">Here's everything Company Name have given you to show you're valued and to make sure you get the most out of your experience, both in and out of work.</p>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                      <h4 class="mb-3">Because you're part of Company Name <i class="fa fa-angle-right float-right"></i> <i class="fa fa-angle-left float-right mr-2"></i></h4>

                      <div class="row">
                        
                        <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="/admin/holiday">
                              <img src="/template-assets/images/products/2daysholiday.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/perkboxlogo.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">2 days holiday </h5>
                                      <p class="mt-1 text-muted small">Company Benefit </p>
                                  </div>
                              </div>
                            </a>
                          </div>

                         

                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="/admin/medical">
                              <img src="/template-assets/images/products/medical.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/perkboxlogo.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">Perkbox Medical </h5>
                                      <p class="mt-1 text-muted small">Company Benefit </p>
                                  </div>
                              </div>
                            </a>
                          </div>


                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/nero.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/perkboxlogo.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">Cafe Nero Coffee <span class="badge badge-light badge-pill lg">Every week</span></h5>
                                      <p class="mt-1 text-muted small">Company Benefit </p>
                                  </div>
                              </div>
                            </a>
                          </div>

                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/beer.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/perkboxlogo.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">Beer Friday</h5>
                                      <p class="mt-1 text-muted small">Company Benefit</p>
                                  </div>
                              </div>
                            </a>
                          </div>
                        </div>

                    </div>
                  </div>

                  <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                      <h4 class="mb-3">Because you're part of Team Name <i class="fa fa-angle-right float-right"></i> <i class="fa fa-angle-left float-right mr-2"></i></h4>

                      <div class="row">

                        <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="/admin/asosr">
                              <img src="/template-assets/images/products/asos.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">£50 Asos Giftcard</h5>
                                      <p class="mt-1 text-muted small"><i class="fe-award"></i> Rewarded by Paul Schulz</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                         

                         <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/50credits.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">50 Credits</h5>
                                      <p class="mt-1 text-muted small">From Paul Schulz</p>
                                  </div>
                              </div>
                            </a>
                          </div>


                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/teamlunch.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">Team Lunch</h5>
                                      <p class="mt-1 text-muted small"><i class="fe-lock"></i> Incentive from Paul Schulz</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="/admin/starts">
                              <img src="/template-assets/images/products/1030starts.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">10:30 starts</h5>
                                      <p class="mt-1 text-muted small">From Paul Schulz</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                        </div>
                        
                    </div>
                  </div>

                  <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                      <h4 class="mb-3">Because you're a Job Role</h4>

                      <div class="row">

                      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/headspace.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/chieu.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">£50 Headspace Giftcard</h5>
                                      <p class="mt-1 text-muted small">From Chieu Cao</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                      </div>

                        
                    </div>
                  </div>

                  <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                      <h4 class="mb-3">Just for you</h4>

                      <div class="row">
                        <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="/admin/creditr">
                              <img src="/template-assets/images/products/50credits.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">50 Credits</h5>
                                      <p class="mt-1 text-muted small"><i class="fe-award"></i> Rewarded by Paul Schulz</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                          <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
                            <a href="#">
                              <img src="/template-assets/images/products/apple.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                              <div class="media mt-3">
                                  <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/louise.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                      <h5 class="m-0">£30 Apple Giftcard</h5>
                                      <p class="mt-1 text-muted small"><i class="fe-award"></i>Rewarded by Louise Jones</p>
                                  </div>
                              </div>
                            </a>
                          </div>

                        </div>
                        
                    </div>
                  </div>
                        
                  <br>
                  <br>

                
                
           
                
            </div> <!-- end container -->
       </div><%- content_for :footer_js do %>
  
<%= javascript_include_tag 'admin/libs/jquery-nice-select/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/switchery/switchery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/multiselect/jquery.multi-select.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/select2/select2.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-mockjax/jquery.mockjax.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/autocomplete/jquery.autocomplete.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-select/bootstrap-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-advanced.init.js', 'data-turbolinks-track': 'reload' %>
<% end %>