<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/jquery-nice-select/nice-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/switchery/switchery.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/multiselect/multi-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/select2/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-select/bootstrap-select.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-8">
                        <div class="page-title-box">
                            <h4 class="page-title mb-0">The Hub</h4>
                            <p class="mb-4">Feel part of something bigger, celebrate successes, and help create the culture you're proud to be part of.</p>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-lg-8 col-xl-8">

                       <div class="card-box mb-5">

                         <div class="row">
                            <div class="col-12">

                                <div class="btn-group mb-3">
                                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your teams <i class="mdi mdi-chevron-down"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Product</a>
                                        <a class="dropdown-item" href="#">Marketing</a>
                                        <a class="dropdown-item" href="#">London</a>
                                    </div>
                                </div>

                                <div class="btn-group mb-3">
                                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Post type <i class="mdi mdi-chevron-down"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Recognition</a>
                                        <a class="dropdown-item" href="#">Actions</a>
                                        <a class="dropdown-item" href="#">Have your say</a>
                                    </div>
                                </div>

                                <div class="btn-group mb-3 float-right">
                                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most recent <i class="mdi mdi-chevron-down"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Most likes</a>
                                        <a class="dropdown-item" href="#">Involving you</a>
                                    </div>
                                </div>


                               

                            </div>
                        </div>


                                    <!-- Story Box-->
                                    <div class="border border-light p-2 mb-3" style="border-radius: 0.5rem;">
                                        <div class="media">
                                            <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="m-0">Paul Schulz</h5>
                                                <p class="text-muted"><small>Product team action for <span class="badge badge-light badge-pill lg">Work-Life Balance</span> · 10 minutes ago</small></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mt-1">I've been getting a lot of feedback recently (from insights but also just the general vibe in the office) that people are feeling the stress of all the work and starting to feel spent. As a nod to this, I've haggled with the powers that be and for the next week, you can all come in at 10:30. Enjoy a lie-in.</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-lg-3" data-isotope-item="" data-category="Branding">
                                                <a href="/admin/starts">
                                                  <img src="/template-assets/images/products/1030starts.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 border">
                                                </a>
                                              </div>
                                        </div>


                                        <div id="demo" class="post-user-comment-box collapse">
                                            <div class="media">
                                                <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/elsa.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Elsa Bacchiolelli <small class="text-muted">5 minutes ago</small></h5>
                                                    Whoop, thanks Paul!

                                                    <br>
                                                    <a href="javascript: void(0);" class="text-muted font-13 d-inline-block mt-2"><i class="mdi mdi-reply"></i> Reply</a>

                                                    <div class="media mt-3">
                                                        <a class="pr-2" href="#">
                                                            <img src="/template-assets/images/users/steve.jpg" class="avatar-sm rounded-circle" alt="Generic placeholder image">
                                                        </a>
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-2">Steve Etheridge <small class="text-muted">2 minutes ago</small></h5>
                                                            Very much appreciated by all.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="media mt-4">
                                                <a class="pr-2" href="#">
                                                    <img src="/template-assets/images/users/bill.jpg" class="rounded-circle" alt="Generic placeholder image" height="31">
                                                </a>
                                                <div class="media-body">
                                                    <input type="text" id="simpleinput" class="form-control border-0 form-control-sm" placeholder="Add comment">
                                                </div>
                                            </div>
                                        </div>

                                        

                                        <div class="mt-2">
                                            <button data-toggle="collapse" data-target="#demo" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-comment"></i> 2 Comments </button>

                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted heart mt-1"><input id="toggle-heart" type="checkbox" />
                                            <label for="toggle-heart"><i class="mdi mdi-heart"></i></label> 28 Likes</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>

                                        </div>
                                    </div>

                                    <!-- Story Box-->
                                    <div class="border border-light p-2 mb-3" style="border-radius: 0.5rem;">
                                        <div class="media">
                                            <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/maddie.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="m-0">Maddie Pozlevic</h5>
                                                <p class="text-muted"><small>Marketing team recognition for <span class="badge badge-light badge-pill lg">Above & Beyond</span> · 40 minutes ago</small></p>
                                            </div>
                                        </div>

                                        <p class="mt-1">Just wanted to say a massive shoutout to <strong title="Elsa Avatar" data-plugin="tippy" data-tippy-duration="0">@Elsa</strong>, <strong title="Steve Avatar" data-plugin="tippy" data-tippy-duration="0">@Steve</strong> and <strong title="Paul Avatar" data-plugin="tippy" data-tippy-duration="0">@Paul</strong> for helping out at the event the other day. Seriously good job. Checkout the event video below.</p>


                                        <iframe height="300" src="https://www.youtube.com/embed/j8U1uRN73ZU" class="img-fluid border-0 ml-0"></iframe>

                                        <div id="demo1" class="post-user-comment-box collapse">
                                            <div class="media">
                                                <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/elsa.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Elsa Bacchiolelli <small class="text-muted">5 minutes ago</small></h5>
                                                    No worries. Glad the video turned out ok!

                                                    <br>
                                                    <a href="javascript: void(0);" class="text-muted font-13 d-inline-block mt-2"><i class="mdi mdi-reply"></i> Reply</a>

                                                    <div class="media mt-3">
                                                        <a class="pr-2" href="#">
                                                            <img src="/template-assets/images/users/paul.jpg" class="avatar-sm rounded-circle" alt="Generic placeholder image">
                                                        </a>
                                                        <div class="media-body">
                                                            <h5 class="mt-0">Paul Schulz <small class="text-muted">2 minutes ago</small></h5>
                                                            Amen. Awesome stuff.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="media mt-4">
                                                <a class="pr-2" href="#">
                                                    <img src="/template-assets/images/users/bill.jpg" class="rounded-circle" alt="Generic placeholder image" height="31">
                                                </a>
                                                <div class="media-body">
                                                    <input type="text" id="simpleinput" class="form-control border-0 form-control-sm" placeholder="Add comment">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <button data-toggle="collapse" data-target="#demo1" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-comment"></i> 2 Comments </button>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-heart"></i> 4 Likes</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>
                                        </div>
                                    </div>

                                    <!-- Story Box-->
                                    <div class="border border-light p-2 mb-3" style="border-radius: 0.5rem;">
                                        <div class="media">
                                            <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/louise.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="m-0">Louise Jones</h5>
                                                <p class="text-muted"><small>Company action for <span class="badge badge-light badge-pill lg">Communication</span> · 15 hours ago</small></p>
                                            </div>
                                        </div>
                                        <p class="mt-1">Ok, so we know communication is tough between our offices. We're going to try rolling out Slack to see if it helps us scale our culture just that little bit better!</p>
                                        <div class="mt-2">
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-comment"></i> 2 Comments</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-heart"></i> 67 Likes</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>
                                        </div>
                                    </div>

                                     <div class="border border-light p-2 mb-3" style="border-radius: 0.5rem;">
                                        <div class="media">
                                            <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/louise.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="m-0">Louise Jones</h5>
                                                <p class="text-muted"><small>Have your say for <span class="badge badge-light badge-pill lg">Zero Fear</span> · 2 days ago</small></p>
                                            </div>
                                        </div>
                                        <p class="mt-1">It's that time again. Submit your questions below for <strong title="Gautam Avatar" data-plugin="tippy" data-tippy-duration="0">@Gautam</strong>, <strong title="Chieu Avatar" data-plugin="tippy" data-tippy-duration="0">@Chieu</strong>  & <strong title="Saurav Avatar" data-plugin="tippy" data-tippy-duration="0">@Saurav</strong>  and they'll be answering them next Thursday at the All Hands.</p>
                                        <div class="form-group mb-3">
                                            <label for="example-textarea">Enter your question</label>
                                            <textarea class="form-control" id="example-textarea" rows="3"></textarea>
                                            <button type="button" class="btn btn-light mt-2">Submit Question</button>
                                        </div>
                                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-comment"></i> 1 Comments</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-heart"></i> 13 Likes</a>
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>
                                    </div>

                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-spin mdi-loading mr-1"></i> Load more </a>
                                    </div>

                                </div>
                                <!-- end timeline content-->



                    </div>


                    <div class="col-xl-4">

                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button" class="close mt-0" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="mb-4 text-center text-uppercase"> Have your say</h4>

                                                <form>
                                                    <div id="basicwizard">

                                                        <ul class="nav nav-tabs nav-bordered nav-justified form-wizard-header mb-2">
                                                            <li class="nav-item">
                                                                <a href="#basictab1" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active"> 
                                                                    <span class="d-none d-sm-inline">Step 1</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#basictab2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                                    <span class="d-none d-sm-inline">Step 2</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#basictab3" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                                    <span class="d-none d-sm-inline">Step 3</span>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                        <div class="tab-content b-0 mb-0">
                                                            <div class="tab-pane active" id="basictab1">
                                                                <h4 class="mt-2 mb-4 text-center">What type of feedback would you like to give?</h4>
                                                                
                                                                <div class="row">
                                                                <div class="col-md-6">
                                                                    <a href="#" class="card p-3 outline">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="text-center">
                                                                                    <h4 class="text-dark my-1">Open text</h4>
                                                                                    <p class="text-muted mb-1">Let us know your open feedback</p>
                                                                                </div>
                                                                            </div>
                                                                          </div> <!-- end row-->
                                                                        </a> <!-- end widget-rounded-circle-->
                                                                    </div> <!-- end col-->

                                                                

                                                                <div class="col-md-6">
                                                                    <a href="#" class="card p-3 outline">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="text-center">
                                                                                    <h4 class="text-dark my-1">Pulse survey</h4>
                                                                                    <p class="text-muted mb-1">5 quick questions about your experience</p>
                                                                                </div>
                                                                            </div>
                                                                          </div> <!-- end row-->
                                                                        </a> <!-- end widget-rounded-circle-->
                                                                    </div> <!-- end col-->

                                                                </div>
                                                            </div>

                                                            <div class="tab-pane" id="basictab2">
                                                                <h4 class="mt-2 mb-4 text-center">What's your feedback?</h4>
                                                                <div class="row mt-0">
                                                                    <div class="col-12">
                                                                        <textarea id="" class="form-control" rows="4" placeholder="Your feedback has a limit of 400 characters."></textarea>
                                                                    </div> <!-- end col -->
                                                                </div> <!-- end row -->

                                                                <ul class="list-inline wizard mt-2 mb-0">
                                                                    <li class="previous list-inline-item disabled">
                                                                        <a href="javascript: void(0);" class="btn btn-light">Previous</a>
                                                                    </li>
                                                                    <li class="next list-inline-item float-right">
                                                                        <a href="javascript: void(0);" class="btn btn-light">Next</a>
                                                                    </li>
                                                                </ul>

                                                            </div>

                                                            <div class="tab-pane" id="basictab3">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="text-center">
                                                                            <h4 class="mt-2 mb-4 text-center">Here's your summary</h4>

                                                                            <p class="w-75 mb-4 mx-auto"><i>"I sometimes find it pretty hard to concentrate in the office with all the noise. If we could have more quiet spaces that would be ace."</i></p>
                                                                        </div>

                                                                            <div class="row justify-content-md-center">

                                                                            <div class="mb-3">
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                                    <label class="custom-control-label" for="customCheck1"><img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/avatar.png" alt="Generic placeholder image"> Send feedback anonymously</label>
                                                                                </div>
                                                                                <div class="custom-control custom-checkbox mt-2">
                                                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                                                    <label class="custom-control-label" for="customCheck2"><img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image"> Send feedback to my line manager</label>
                                                                                </div>
                                                                                <div class="custom-control custom-checkbox mt-2">
                                                                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                                                    <label class="custom-control-label" for="customCheck3"><img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/louise.jpg" alt="Generic placeholder image"> Send feedback to my HR manager</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row justify-content-md-center">
                                                                            <button type="button" class="btn btn-warning text-center" disabled>
                                                                              Submit feedback
                                                                            </button>
                                                                        </div>

                                                                    </div> <!-- end col -->
                                                                </div> <!-- end row -->
                                                            </div>

                                                        </div> <!-- tab-content -->
                                                    </div> <!-- end #basicwizard-->
                                                </form>

                                            </div> <!-- end card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button" class="close mt-0" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="mb-4 text-center text-uppercase"> Recognise a colleague</h4>

                                                <form>
                                                    <div id="basicwizard">

                                                        <ul class="nav nav-tabs nav-bordered nav-justified form-wizard-header mb-2">
                                                            <li class="nav-item">
                                                                <a href="#basictab4" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active"> 
                                                                    <span class="d-none d-sm-inline">Step 1</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#basictab5" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                                    <span class="d-none d-sm-inline">Step 2</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#basictab6" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                                    <span class="d-none d-sm-inline">Step 3</span>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                        <div class="tab-content b-0 mb-0">
                                                            <div class="tab-pane active" id="basictab4">
                                                                <h4 class="mt-2 mb-4 text-center">Who would you like to recognise and why?</h4>

                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <form>



                                                                            <div class="form-group mb-3">
                                                                                <label for="simpleinput">Which person?</label>

                                                                                <input type="text" id="simpleinput" class="form-control" placeholder="Start typing the name of the person">
                                                                            </div>


                                                                            <div class="form-group mb-3">
                                                                                <label for="example-textarea">What for?</label>
                                                                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                                                            </div>

                                                                            <div class="form-group mb-3">
                                                                                <label for="example-select">What company value are they embodying?</label>
                                                                                <select class="form-control" id="example-select">
                                                                                    <option>Value 1</option>
                                                                                    <option>Value 2</option>
                                                                                    <option>Value 3</option>
                                                                                    <option>value 4</option>
                                                                                    <option>Value 5</option>
                                                                                </select>
                                                                            </div>

                                                                        </form>
                                                                        <ul class="list-inline wizard mt-2 mb-0">
                                                                    <li class="previous list-inline-item disabled">
                                                                       
                                                                    </li>
                                                                    <li class="next list-inline-item float-right">
                                                                        <a href="javascript: void(0);" class="btn btn-light">Next</a>
                                                                    </li>
                                                                </ul>
                                                                    </div> <!-- end col -->
                                                                </div>
                                                                
                                                            </div>

                                                            <div class="tab-pane" id="basictab5">
                                                                <h4 class="mt-2 mb-4 text-center">Would you like to include a gift?</h4>
                                                                <div class="row mt-0">
                                                                    <div class="col-4">
                                                                        <a href="#" class="card p-3 outline">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="text-center">
                                                                                    <h5 class="text-dark my-1">Create<br></h5>
                                                                                    <p class="text-muted mb-1 small">Unique gift from scratch</p>
                                                                                </div>
                                                                            </div>
                                                                          </div> <!-- end row-->
                                                                        </a> <!-- end widget-rounded-circle-->
                                                                    </div> <!-- end col -->
                                                                    <div class="col-4">
                                                                       <a href="#" class="card p-3 outline">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="text-center">
                                                                                    <h5 class="text-dark my-1">
                                                                                    Credit</h5>
                                                                                    <p class="text-muted mb-1 small">Purchase or send credit</p>
                                                                                </div>
                                                                            </div>
                                                                          </div> <!-- end row-->
                                                                        </a> <!-- end widget-rounded-circle-->
                                                                    </div> <!-- end col -->
                                                                    <div class="col-4">
                                                                        <a href="#" class="card p-3 outline">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="text-center">
                                                                                    <h5 class="text-dark my-1">Collections</h5>
                                                                                    <p class="text-muted mb-1 small">Choose from collections</p>
                                                                                </div>
                                                                            </div>
                                                                          </div> <!-- end row-->
                                                                        </a> <!-- end widget-rounded-circle-->
                                                                    </div> <!-- end col -->
                                                                </div> <!-- end row -->

                                                                <ul class="list-inline wizard mt-2 mb-0">
                                                                    <li class="previous list-inline-item disabled">
                                                                        <a href="javascript: void(0);" class="btn btn-light">Previous</a>
                                                                    </li>
                                                                    <li class="next list-inline-item float-right">
                                                                        <a href="javascript: void(0);" class="btn btn-light">Skip</a>
                                                                    </li>
                                                                </ul>

                                                            </div>

                                                            <div class="tab-pane" id="basictab6">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="text-center">
                                                                           <h4 class="mt-2 mb-4 text-center">Here's your summary</h4>


                                                                            <p class="w-75 mb-4 mx-auto"><i>"Great job with the presentation the other day. You rocked!"</i></p>

                                                                        </div>

                                                                        <div class="row justify-content-md-center">

                                                                           
                                                                                <div class="col-sm-6">
                                            <div class="radio radio-primary mb-2">
                                                <input type="radio" name="radio" id="radio1" value="option1" checked="">
                                                <label for="radio1">
                                                    Send recognition privately
                                                </label>
                                            </div>

                                            <div class="radio radio-primary mb-2">
                                                <input type="radio" name="radio" id="radio3" value="option3">
                                                <label for="radio3">
                                                    Send privately and notify their manager
                                                </label>
                                            </div>
                                            

                                        </div> 

                                                                       
                                                                        </div>

                                                                        <div class="row justify-content-md-center mt-2">
                                                                            <button type="button" class="btn btn-warning text-center">
                                                                              Submit recognition
                                                                            </button>
                                                                        </div>

                                                                    </div> <!-- end col -->
                                                                </div> <!-- end row -->
                                                            </div>

                                                        </div> <!-- tab-content -->
                                                    </div> <!-- end #basicwizard-->
                                                </form>

                                            </div> <!-- end card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                                      
<!-- /.modal-content -->
                        
<!-- /.modal-dialog -->
    


                            <div class="card-box">
                                <h4 class="">Have your say</h4>
                                <p class="mt-3">Give us your feedback and help create the culture you're proud to be part of</p>
                                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg">
                                      Give feedback
                                    </button>
                            </div>

                            <br>

                            <div class="card-box">
                                <h4 class="">Recognise a colleague</h4>
                                <p class="mt-3">Time to make a colleague's day!</p>
                                <div class="avatar-group mb-2">
                                    <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elsa Bacchiolelli">
                                        <img src="/template-assets/images/users/elsa.jpg" class="rounded-circle avatar-sm" alt="friend">
                                    </a>

                                    <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steve Etheridge">
                                        <img src="/template-assets/images/users/steve.jpg" class="rounded-circle avatar-sm" alt="friend">
                                    </a>

                                    <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Paul Schulz">
                                        <img src="/template-assets/images/users/paul.jpg" class="rounded-circle avatar-sm" alt="friend">
                                    </a>

                                    <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Maddie Pozlevic">
                                        <img src="/template-assets/images/users/maddie.jpg" class="rounded-circle avatar-sm" alt="friend">
                                    </a>
                                </div>
                                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg1">
                                      Recognise someone
                                    </button>
                            </div>

                        </div>
                            


                        

                    </div>
                </div>

               
                
            </div> <!-- end container -->
       </div><%- content_for :footer_js do %>

<script>
function myFunction(x) {
  x.classList.toggle("mdi mdi-heart");
}
</script>

<%= javascript_include_tag 'admin/libs/tippy-js/tippy.all.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-nice-select/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/switchery/switchery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/multiselect/jquery.multi-select.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/select2/select2.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-mockjax/jquery.mockjax.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/autocomplete/jquery.autocomplete.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-select/bootstrap-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-advanced.init.js', 'data-turbolinks-track': 'reload' %>
<% end %>